nav.navbar {
  border-top: 4px solid #276cda;
  /* margin-bottom: 1rem; */
}

.navbar-brand .navbar-item .logo {
  background: url(./logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 28px;
  width: 112px;
}

#sitelogo:hover {
  cursor: pointer;
  background: #fff;
}

.navbar-item .user-img {
  max-height: 32px;
  border-radius: 50%;
}

@media (max-width: 1050px) {
  .navbar-item .user-img {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-height: 64px;
    border-radius: 50%;
  }
  .nav-user-option {
    display: flex;
    align-items: center;
  }
}